# Directories
**/.git/
**/.github/
**/.idea/
**/.next/
**/.vs/
**/dist/
**/node_modules/
**/out/

# Files
**/.dockerignore
**/.gitattributes
**/.gitignore
**/docker-compose.yml
**/Dockerfile*
**/*Dockerfile