.Heading {
   background-color: #FFFFFF;
   opacity: 0.75;
   height: 150px;
   width: 100%;
   transform: translate(-50%, -50%);
   position: absolute;
   top: 100px;
   left: 50%;
}
.HeadingText {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000000;
	font-size: 50;
	padding: 5;
	transform: translate(-50%, -50%);
    position: absolute;
	top: 0px;
    left: 50%;
}