* {
margin: 0;
padding: 0;
}

html {
height: 100%;
}

h1  {
font-family: Arial, Helvetica, sans-serif;
color: #FFFFFF;
font-size: 45px;
height: 100%;
max-width: 100%;
overflow-x: hidden;
}

body  {
font-family: Arial, Helvetica, sans-serif;
color: #FFFFFF;
font-size: 15px;
height: 100%;
max-width: 100%;
overflow-x: hidden;
}

#NavigationBase {
background-color: #000000;
opacity: 0.5;
height: 50px;
width: 100%;
transform: translate(-50%, -50%);
position: fixed;
top: 25px;
left: 50%;
z-index: 2;
box-shadow: 0px 0px 10px 0px #000000;
visibility: visible;
}

#LXVisibilityButton {
background-color: #3a3a3a;
opacity: 1;
outline:0;
height: 50px;
width: 10px;
transform: translate(-50%, -50%);
position: fixed;
top: 25px;
left: 5px;
z-index: 5;
border: none;
}

#LXWebLogo {
height: 25px;
width: 0%;
transform: translate(-50%, -50%);
position: fixed;
top: 25px;
left: 10px;
z-index: 4;
}

#Navigation {
position: fixed;
top: 5px;
width: 100%;
text-align: center;
padding-top: 10px;
z-index: 3;
visibility: visible;
}

#Navigation a {
font-size: 18px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#Navigation a:hover {
color: lightgrey;
}

#myCanvas {
transform: translate(-50%, -50%);
position: absolute;
top: 320px;
left: 50%;
z-index: 1;
visibility: visible;
}

#Main  {
width: 100%;
min-height: 100%;
overflow:auto;
background: #000000;
margin: 0 auto;
text-align: center;
opacity: 0.75;
z-index: 1;
box-shadow: 0px 0px 10px 0px #000000;
visibility: visible;
}

#MainAlpha {
padding-top: 125px;
font-size: 225%;
text-align: center;
}

#MainBravo {
padding-top: 250px;
font-size: 100%;
text-align: center;
}
