* {
	margin: 0;
	padding: 0;
}

html {
	max-height: 100%;
}

body {
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

h1 {
	color: black;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	color: black;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#logo {
	height: 43px;
	width: 141px;
	top: 25px;
	left:50%;
	right:50%;
	transform: translate(-50%, -50%);
	position: fixed;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image:url(../images/titles/lxwebwhite.png);
	visibility: visible;
	border: none;
	outline:0;
	z-index: 3;
}

#main {
	height: 100%;
	width: 100%;
	opacity: 0.75;
	position: fixed;
	background: black;
	visibility: visible;
	overflow: auto;
	z-index: 0;
}

#content {
	height: 100%;
	width: 100%;
	position: fixed;
	visibility: visible;
	overflow: auto;
	text-align:center;
	z-index: 1;
}

#icon {
	width:200px;
	height:50px;
	position: relative;
	display: inline-block;
	margin-top: 2.5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	border-radius:50px;
	border: 1px solid black;
	background-color: white;
	background-position: 10px;
	background-repeat: no-repeat;
	background-image:url(../images/icons/github.png);
	z-index: 2;
}

#icon:hover {
	background-color:grey;
}

#hr {
	height: 1px;
	opacity: 1;
	background: white; 
	margin-left: 50px;
	margin-right: 50px;
}