* {
	margin: 0;
	padding: 0;
}

html {
	max-height: 100%;
}

body {
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

p {
	color: black;
	cursor: default;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: black;
	cursor: default;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	color: black;
	cursor: default;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
}

#image {
	height: 100%;
	width: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	visibility: hidden;
	z-index: 1;
}

#opaque {
	min-height: 750px;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.50;
	visibility: visible;
	z-index: 2;
}

#content {
	min-height: 750px;
	height: 100%;
	width: 100%;
	position: relative;
	visibility: visible;
	overflow: hidden;
	z-index: 4;
}

#logo {
	margin-left: 50%;
	margin-right: 50%;
	transform: translate(-50%,-50%);
	border-radius: 100px;
	position: absolute;
	visibility: visible;
	z-index: 4;
}