* {
  margin: 0;
  padding: 0;
}

html {
  max-height: 100%;
  max-width: 100%;
}

body {
  overflow: hidden;
}

#image {
  height: 100%;
  width: 100%;
  background-image: url(../images/background/elcapitan01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
}

#opaque {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

#content {
  margin-top: 10%;
  width: 100%;
  color: white;
  cursor: default;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  z-index: 4;
}