* {
    margin: 0;
    padding: 0;
}

html {
    max-height: 100%;
    max-width: 100%;
}

body {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

a {
    color: #00BFFF;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #0098CC;
    text-decoration: none;
}

p {
    color: #FFFFFF;
    cursor: default;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #FFFFFF;
    cursor: default;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #FFFFFF;
    cursor: default;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #FFFFFF;
    cursor: default;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.background-image {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-color {
    background-color: #23272A;
}

.brand {
    font-size: 20px;
}

.brand > a > img {
    margin-top: -6px;
	height: 32px;
}

.brand > a > p {
    font-size: 20px;
}

.brand:hover > a > p {
    cursor: pointer;
    color: #00BFFF;
    text-decoration: none;
}

.content {
    min-height: 500px;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    position: relative;
}

.opaque {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.5;
}

.repo {
    top: 0px;
    margin-top: 15%;
    margin-left: 15%;
    position: absolute;
}

.repo > h1 {
    font-size: 40px;
    font-weight: 400;
}

.repo > h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 0px;
}

.repo > p {
    font-size: 20px;
}

.commit {
    text-align: center;
    padding-bottom: 10%;
}

.commit > ul {
    list-style: none;
}

.commit > ul > li {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    text-align: left;
}

.commit > ul > li > p {
    font-size: 15px;
    padding-left: 25px;
    display: block;
}

.commit > ul > li > h2 {
    font-size: 20px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}